body {
	font-family: arial;
}

ul {
	list-style-type: none;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.bloque {
	max-width: 800px;
	min-width: 400px;
	min-height: 300px;
	border: 1px solid #999;
	margin-top: .5em;
}

.bloque h3 {
	margin: .5em 1em 0 1em;
}

.bloque span {
	color: blue;
	padding-left: 2em;
}

.bloque button {
	margin: .3em;
	width: 10em;
}
.bloque label, .bloque p {
	font-size: .8em;
	margin-left: .5em;
}

.bloque p {
	color: #777;
}

.bloque input, .bloque textarea {
	margin: .4em .2em 0 .8em;
}
